body {
    /* Old browsers */
    background: #f0f0f1;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #141E30);
    margin: 0;
    padding: 0;
}

.resize {
    width: auto;
    text-align: center;
    padding: 20px;
}

img {
    max-width: 50%;
    height: auto;
}



.heading {
    color: deepskyblue;
}

h1,
h2 {
    text-align: center;
}

.tab {
    margin-left: 40px;
}

.center {
    text-align: center;
}

.pad {
    padding: 10px;
}

.info {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.bullet {
    list-style-position: inside;
}  